.container {
  background: #FFFFFF;
  /* windows */

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
  border-radius: 28px;

  margin: 16px auto 0;
  max-width: 64vw;
  padding: 20px 30px 20px 30px;
}