.company-progress {
  font-family: Roboto, sans-serif;
  color: #34495e;

  max-width: 662px;
  margin-top: 0;
  margin-bottom: 10px;
  background-color: #fff;

  box-shadow: 0 4px 25px rgb(210 224 233 / 45%);
  border-radius: 5px;

  min-height: 111px;
  padding: 10px 5px 10px 15px;
  display: block;

  width: 100%;

  &-header {
    width: 100%;
    display: inline-flex;
    position: relative;
    font-weight: 300;

    &__type {
      margin: auto;

      font-size: 15px;
      font-weight: 300;
    }

    &__status {
      position: absolute;
      top: 0;
      right: 3px;

      font-weight: 300;
      border-radius: 10px;
      font-size: 12px;
      padding: 3px 7px;
      text-align: center;
      color: #fff;

      &--ongoing {
        background-color: #007bff;
      }

      &--past {
        background-color: #ffc107;
      }

      &--upcoming {
        background-color: #17a2b8;
      }
    }
  }

  &-main-content {
    width: 100%;
    display: inline-flex;
    padding-top: 11px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: #9fa7b3;
    font-size: 12px;
    font-weight: 300;

    .main-content-left {
      width: 50%;
      padding-right: 10px;

      .left-header {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
      }

      .left-progress-bar {
        margin-top: 15px;
      }
    }

    .main-content-right {
      width: 50%;
      padding-left: 10px;

      .right-header {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
      }

      .right-progress-bar {
        margin-top: 15px;
      }

      .right-goals {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 5px;

        &-item {
          display: inline-block;
          padding: 0 5px;

          &-header {
            color: #2e9db2;
            display: block;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0.25px;
            line-height: normal;
            padding-bottom: 2px;
            text-align: center;
            text-transform: lowercase;
          }
        }
      }
    }
  }

  &-footer {
    text-align: center;
    width: 100%;
    padding-bottom: 5px;

    color: #9fa7b3;
    font-size: 12px;
    font-weight: 300;
  }
}
