@import "../../styles";

.company-short {
  max-width: 728px;
  margin-top: 0;
  &__logo {
    min-width: 70px;
  }

  &-main{
    padding-right: 36px;

    &__name {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 21px;
      line-height: 25px;

      /* Dark clear */

      color: #0F2B46;
    }

    &__description {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;

      /* Main_Dark */

      color: #133D65;

      margin-top: 10px;
    }
  }
}
