@import './styles.scss';

.scrollspy {
  display: flex;
  justify-content: space-between;
  height: 45px;
  align-items: flex-end;
  margin: 0 1.3em;

  a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    height: 2em;
    padding-bottom: 1.5em;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 4px solid transparent;

    /* Main_Dark */

    color: #133d65;

    &.isCurrent {
      color: #f48020;
      border-bottom: 4px solid #f48020;
    }
  }
}
.company__head {
  margin-top: 20px;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  @include screenMinSize('sm') {
    align-items: center;
    flex-direction: row;
  }
}

.company__tabs {
  padding-top: 19px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.8) 246.09%);
  backdrop-filter: blur(40px);

  button {
    background-color: transparent;
  }

  max-width: 662px;
  position: sticky;
  top: 0;
  z-index: 2;

  &--low-res {
    top: 60px;
  }
}

.company__tab-info {
  &-subtitle {
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5rem;
  }
}
